$primary-color : #FFF;
$secondary-color: #000;
body {
	background: $primary-color;
}
p {
    color: $secondary-color;
    text-align: center;
}
a {
	color: $secondary-color;
}
b {
	color: $secondary-color;
	padding: 15px;
}